%h1= @campaign.name
.row
  .col-md-2.head
    %h2 Candidate
  .col-md-10.head
    %h2 Score
  - @campaign.candidates.each do |c|
    = render partial: "campaign", locals: {c: c}
.missed
  %h2= "Messages sent in but not counted = (#{@campaign.invalid_votes.count})"
